{{- if and (hasKey .Values "configmap") (get .Values.configmap "enabled") }}
apiVersion: v1
kind: ConfigMap
metadata:
  {{ include "aenv-redis.metadata" . | nindent 2 }}
data:
  redis.conf: |
    port {{ default 6379 .Values.port }}
    cluster-enabled {{ default "no" (get .Values.configmap "clusterEnabled") }}
    cluster-config-file /data/nodes.conf
    cluster-node-timeout 5000
    appendonly yes
{{- if get .Values.configmap "password" }}
    requirepass {{ get .Values.configmap "password" }}
    masterauth {{ get .Values.configmap "password" }}
{{- end }}
{{- end }}
